<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.official.web.origin.mapper.sys.SysMenuMapper">
	<resultMap id="SysMenuBean" type="com.official.web.origin.entity.sys.SysMenu">
		<result property="id" column="id" jdbcType="BIGINT" />
		<result property="code" column="code" jdbcType="VARCHAR" />
		<result property="typeDic" column="type_dic" jdbcType="VARCHAR" />
		<result property="name" column="name" jdbcType="VARCHAR" />
		<result property="pid" column="pid" jdbcType="BIGINT" />
		<result property="statusDic" column="status_dic" jdbcType="VARCHAR" />
		<result property="url" column="url" jdbcType="VARCHAR" />
		<result property="path" column="path" jdbcType="VARCHAR" />
		<result property="icon" column="icon" jdbcType="VARCHAR" />
		<result property="sort" column="sort" jdbcType="INTEGER" />
		<result property="remark" column="remark" jdbcType="VARCHAR" />
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
		<result property="modifyUerId" column="modify_uer_id" jdbcType="BIGINT" />
		<result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="SysMenuSelectColumns">
		t.id ,
		t.code ,
		t.type_dic ,
		t.name ,
		t.pid ,
		t.status_dic ,
		t.url ,
		t.path ,
		t.icon ,
		t.sort ,
		t.remark ,
		t.create_time ,
		t.modify_uer_id ,
		t.modify_time 
	</sql>
	<sql id="dynamicWhere">
		<if test=" id != null and id != '' ">
			and t.id = #{id}
		</if>
		<if test=" code != null and code != '' ">
			and t.code = #{code}
		</if>
		<if test=" typeDic != null and typeDic != '' ">
			and t.type_dic = #{typeDic}
		</if>
		<if test=" name != null and name != '' ">
			and t.name = #{name}
		</if>
		<if test=" pid != null and pid != '' ">
			and t.pid = #{pid}
		</if>
		<if test=" statusDic != null and statusDic != '' ">
			and t.status_dic = #{statusDic}
		</if>
		<if test=" url != null and url != '' ">
			and t.url = #{url}
		</if>
		<if test=" path != null and path != '' ">
			and t.path = #{path}
		</if>
		<if test=" icon != null and icon != '' ">
			and t.icon = #{icon}
		</if>
		<if test=" sort != null and sort != '' ">
			and t.sort = #{sort}
		</if>
		<if test=" remark != null and remark != '' ">
			and t.remark = #{remark}
		</if>
		<if test=" createTime != null and createTime != '' ">
			and t.create_time = #{createTime}
		</if>
		<if test=" modifyUerId != null and modifyUerId != '' ">
			and t.modify_uer_id = #{modifyUerId}
		</if>
		<if test=" modifyTime != null and modifyTime != '' ">
			and t.modify_time = #{modifyTime}
		</if>
		<if test=" dataScope !=null and dataScope != '' ">
			and #{dataScope}
		</if>
	</sql>

	<!-- 根据 id 查询,1对象 -->
	<select id="selectSysMenuById" parameterType="map" resultMap="SysMenuBean">
		select <include refid="SysMenuSelectColumns" />
		from sys_menu t
		
		
	</select>
	
	<!-- 查询所有,1对象 -->
	<select id="selectSysMenuAll" resultMap="SysMenuBean">
		select <include refid="SysMenuSelectColumns" />
		from sys_menu t
	</select>

	<!-- 插入,1对象 主键自动生成 -->
	<insert id="insertSysMenu" keyProperty="id" useGeneratedKeys="true" parameterType="Map">
		insert into sys_menu
		(
			id, 
			code, 
			type_dic, 
			name, 
			pid, 
			status_dic, 
			url, 
			path, 
			icon, 
			sort, 
			remark, 
			create_time, 
			modify_uer_id, 
			modify_time 
		)
		values( 
			#{id}, 
			#{code}, 
			#{typeDic}, 
			#{name}, 
			#{pid}, 
			#{statusDic}, 
			#{url}, 
			#{path}, 
			#{icon}, 
			#{sort}, 
			#{remark}, 
			#{createTime}, 
			#{modifyUerId}, 
			#{modifyTime} 
		)
	</insert>

	<!-- 更新,1对象 -->
	<update id="updateSysMenu" parameterType="Map">
		update sys_menu set
		id = #{id},
		code = #{code},
		type_dic = #{typeDic},
		name = #{name},
		pid = #{pid},
		status_dic = #{statusDic},
		url = #{url},
		path = #{path},
		icon = #{icon},
		sort = #{sort},
		remark = #{remark},
		create_time = #{createTime},
		modify_uer_id = #{modifyUerId},
		modify_time = #{modifyTime}
		where
	</update>
	
	<!-- 删除,1对象 -->
	<delete id="delSysMenuByIds" parameterType="Map">
		delete from sys_menu where  in (${ids})
	</delete>

	<!-- 根据 条件 查询,1对象 -->
	<select id="selectSysMenuByCondition" parameterType="Map" resultMap="SysMenuBean">
		select <include refid="SysMenuSelectColumns" />
		from sys_menu t
		where 1 = 1 <include refid="dynamicWhere" />
	</select>
	
	<!-- 根据 条件更新,1对象 -->
	<update id="updateSysMenuByCondition" parameterType="Map">
		update sys_menu
		<set>
			<if test=" id !=null and id != '' ">
				id = #{id},
			</if>
			<if test=" code !=null and code != '' ">
				code = #{code},
			</if>
			<if test=" typeDic !=null and typeDic != '' ">
				type_dic = #{typeDic},
			</if>
			<if test=" name !=null and name != '' ">
				name = #{name},
			</if>
			<if test=" pid !=null and pid != '' ">
				pid = #{pid},
			</if>
			<if test=" statusDic !=null and statusDic != '' ">
				status_dic = #{statusDic},
			</if>
			<if test=" url !=null and url != '' ">
				url = #{url},
			</if>
			<if test=" path !=null and path != '' ">
				path = #{path},
			</if>
			<if test=" icon !=null and icon != '' ">
				icon = #{icon},
			</if>
			<if test=" sort !=null and sort != '' ">
				sort = #{sort},
			</if>
			<if test=" remark !=null and remark != '' ">
				remark = #{remark},
			</if>
			<if test=" createTime !=null and createTime != '' ">
				create_time = #{createTime},
			</if>
			<if test=" modifyUerId !=null and modifyUerId != '' ">
				modify_uer_id = #{modifyUerId},
			</if>
			<if test=" modifyTime !=null and modifyTime != '' ">
				modify_time = #{modifyTime}
			</if>
		</set>
		where 1=1
			<if test=" idCondition !=null and idCondition != '' ">
				and id = #{idCondition},
			</if>
			<if test=" codeCondition !=null and codeCondition != '' ">
				and code = #{codeCondition},
			</if>
			<if test=" typeDicCondition !=null and typeDicCondition != '' ">
				and type_dic = #{typeDicCondition},
			</if>
			<if test=" nameCondition !=null and nameCondition != '' ">
				and name = #{nameCondition},
			</if>
			<if test=" pidCondition !=null and pidCondition != '' ">
				and pid = #{pidCondition},
			</if>
			<if test=" statusDicCondition !=null and statusDicCondition != '' ">
				and status_dic = #{statusDicCondition},
			</if>
			<if test=" urlCondition !=null and urlCondition != '' ">
				and url = #{urlCondition},
			</if>
			<if test=" pathCondition !=null and pathCondition != '' ">
				and path = #{pathCondition},
			</if>
			<if test=" iconCondition !=null and iconCondition != '' ">
				and icon = #{iconCondition},
			</if>
			<if test=" sortCondition !=null and sortCondition != '' ">
				and sort = #{sortCondition},
			</if>
			<if test=" remarkCondition !=null and remarkCondition != '' ">
				and remark = #{remarkCondition},
			</if>
			<if test=" createTimeCondition !=null and createTimeCondition != '' ">
				and create_time = #{createTimeCondition},
			</if>
			<if test=" modifyUerIdCondition !=null and modifyUerIdCondition != '' ">
				and modify_uer_id = #{modifyUerIdCondition},
			</if>
			<if test=" modifyTimeCondition !=null and modifyTimeCondition != '' ">
				and modify_time = #{modifyTimeCondition}
			</if>
	</update>
	
	<!--  begin分页查询 -->
	<!-- 根据条件查询分页数据 -->
	<select id="selectSysMenuByPager" parameterType="Map" resultMap="SysMenuBean">
		select <include refid="SysMenuSelectColumns" />
		from sys_menu t
		where 1 = 1 <include refid="dynamicWhere" />
		limit #{start}, #{length}
	</select>
	
	<!-- 根据条件查询,1对象数量 -->
	<select id="selectSysMenuCountByPager" parameterType="Map" resultType="int">
		select
		count(1)
		from sys_menu t
		where 1 = 1 <include refid="dynamicWhere" />
	</select>
	<!-- end 分页查询 -->
	
	<!-- 通过sql查询 -->
	<select id="selectSysMenuBySql" parameterType="Map" resultMap="SysMenuBean">
		${sql}
	</select>
</mapper>